[submodule "src/engine/include/sol2"]
	path = src/engine/include/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "src/engine/include/entt"]
	path = src/engine/include/entt
	url = https://github.com/skypjack/entt.git
[submodule "src/engine/libraries/lua-web"]
	path = src/engine/libraries/lua-web
	url = https://github.com/rdeepak2002/lua-web.git
[submodule "src/engine/lib/lua-web-5.3.6"]
	path = src/engine/lib/lua-web-5.3.6
	url = https://github.com/rdeepak2002/lua-web.git
