[submodule "src/engine/include/sol2"]
	path = src/engine/include/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "src/engine/include/entt"]
	path = src/engine/include/entt
	url = https://github.com/skypjack/entt.git
[submodule "src/engine/libraries/lua-web"]
	path = src/engine/libraries/lua-web
	url = https://github.com/rdeepak2002/lua-web.git
[submodule "src/engine/include/glm"]
	path = src/engine/include/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/engine/include/stb"]
	path = src/engine/include/stb
	url = https://github.com/nothings/stb.git
[submodule "src/build/web/emsdk"]
	path = src/build/web/emsdk
	url = https://github.com/emscripten-core/emsdk.git
	ignore = dirty
